@import "./fonts.scss";

:root{
    --mainGray: #333333;
    --mainWhite: #f1f1f1;
    --mainYellow: #f2c57c;
}

body{
    background: var(--mainGray);
    font-family: "averia";
    font-weight: 100;
}

@import "./header.scss";