.solar-box {
    position: absolute;
    width: 1024px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - 300px);
    pointer-events: none;
    .line{
        width: 1024px;
        margin: auto;
        path{
            fill: none;
            stroke: #333;
            stroke-width: 7;
            stroke-dasharray: 10;
            opacity: .25;
            animation: ticking 180s linear infinite;
            .dark &{
                stroke: #f2c57c;
            }
        }
        circle{
            fill: #333;
            .dark &{
                fill: #f2c57c;
            }
        }
        g{
            opacity: .25;
        }
    }
    .icon{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 48px;
        transition: transform .3s ease-out, opacity .3s ease 2s;
    }
}

@keyframes ticking{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: -100%;
    }
}