.solar-box {
    position: absolute;
    width: 100vw;
    left: -.25rem;
    top: 33vh;
    pointer-events: none;
    .line{
        width: 1560px;
        left: calc(50% - (1560px/2));
        path{
            fill: none;
            stroke: #333;
            stroke-width: 7;
            stroke-miterlimit: 10;
            stroke-dasharray: 11.9579, 11.9579;
            opacity: .25;
            animation: ticking 90s linear infinite;
            .dark &{
                stroke: #f2c57c;
            }
        }
    }
    .icon{
        position: absolute;
        top: 0;
        left: 0;
    }
}

@keyframes ticking{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 100%;
    }
}